.searchHistory {
  color: rgb(7, 1, 61);
  font-size: 15px;
  margin: 10px;
  align-content: center;
  text-decoration: underline;
}

.alignHorz {
  flex-direction: row;
  display: flex;
  padding-left: 30px;

  align-content: space-between;
}
